html {
    position: relative;
    min-height: 100%
}

body {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

/*div {
    border: 1px solid grey;
}*/

.calculator-body {
    margin-top: 80px;
    border: 2px solid grey;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    border-radius: 16px;
    align-items: stretch;
}

.display {
    display: flex;
    flex-direction: column;
    /*min-height: 90px;*/
    margin: 9px;
    border-radius: 8px;
    border: 2px solid grey;
    background-color: white;
}

.upper-display,
.lower-display {
    display: flex;
    flex: 1 1 auto;
    justify-content: end;
    min-height: 55px;
    /* flex auto tells the items to default to their given height, in this case, the given height is the height of the display (90px) which is split evenly between the 2 items*/
}

p {
    margin: 12px;
    font-size: 25px;
}

#clear,
#backspace {
    margin: 9px 20px;
    background-color: rgb(197, 130, 209);
}

.nums789-and-divide,
.nums456-and-multiply,
.nums123-and-subtract,
.zero-and-other-operators {
    display: flex;
    justify-content: space-around;
}

.num,
.operator,
#equals,
#decimal {
    width: 3.1em;
}

button {
    padding: 12px 25px;
    
    margin: 7px;
    background-color:rgb(239, 161, 255);
    font-size: 23px;
    border-radius: 8px;
}

#add,
#subtract,
#multiply,
#divide {
    background-color: rgb(197, 130, 209);
}



.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}