html {
    position: relative;
    min-height: 100%
}

body {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

/*div {
    border: 1px solid grey;
}*/

.calculator-body {
    margin-top: 80px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    align-items: stretch;
}

.display {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    margin: 9px;
    border-radius: 8px;
    border: 2px solid grey;
    background-color: white;
}

.user-entry,
.result {
    display: flex;
    flex: 1 1 auto;
    /* flex auto tells the items to default to their given height, in this case, the given height is the hight of the display (90px) which is split evenly between the 2 items*/
}

#clear,
#backspace {
    margin: 7px 20px;
}

button {
    padding: 12px 25px;
    margin: 7px;
    background-color:rgb(239, 161, 255);
    font-size: 20px;
    border-radius: 8px;
}



.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}